.navbar {
  height: 50px;
  background-color: #003580;
  display: flex;
  justify-content: center;
  padding: 10px 20px;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 500;
  white-space: nowrap;
}

.navItems{
  display: flex;
}

.navButton {
  margin-left: 20px;
  border: none;
  /* border-radius: 6px; */
  padding: 5px 10px;
  cursor: pointer;
  color: #003580;
}

.userName{
  background-color: white;
  color: #003580;
  padding: 10px;
  border-radius: 10px;
}

.btn{
  display: flex;
  gap: 20px;
}

.btn button{
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  color: #003580;
  cursor: pointer;
  border: none;
  font-size: 16px;
}


@media screen and (max-width: 350px) {
  .navItems {
    gap: 5px;
    margin-left: 10px;
  }
  .navButton{
    margin-left: 0px;
  }
}